body
{
    font-family: "segoe ui light";
}
.product
{
    position: relative;
}
.price
{
    position: absolute;
    background-color: tomato;
    position: absolute;
    top: 0;
    right: 25;
    padding: 8px;
}